<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Данные пользователя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<form class="p-4 p-md-6 border rounded-3 bg-light" method="post">
    <div class="container text-center">
        <#list loggedUser as user>
            <div class="row row-cols-6">
                <button class="w-10 btn btn-primary btn-lg" type="submit" name="backToAccountPage" value="${user.userRole}">Назад</button>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </#list>
    </div>
</form>
<div class="px-4 py-1 my-1 text-center">
    <h1 class="display-5 fw-bold">Данные пользователя</h1>

    <#--insert !!!!!!!!!!!!!!!!!!-->
    <div>
        <#list users as user>
    </div>
    <div class="col-lg-9 mx-auto">
<#--        <!--firstName&ndash;&gt;-->
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-6">
                <h1 class="display-8 fw-bold">Имя</h1>
                <div>
                    <div class="display-7 fw-bold">
                        ${user.firstName}
                    </div>
                </div>
                <form class="p-4 p-md-3 border rounded-5 bg-light">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#changeFirstName">
                        сменить имя
                    </button>
                </form>
            </div>
        </form>
<#--        <!--lastName&ndash;&gt;-->
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-6">
                <h1 class="display-8 fw-bold">Фамилия</h1>
                <div>
                    <div class="display-7 fw-bold">
                        ${user.lastName}
                    </div>
                </div>
                <form class="p-4 p-md-3 border rounded-5 bg-light">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#changeLastName">
                        сменить фамилию
                    </button>
                </form>
            </div>
        </form>
<#--        <!--nickName&ndash;&gt;-->
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-6">
                <h1 class="display-8 fw-bold">nickName</h1>
                <div>
                    <div class="display-7 fw-bold">
                        ${user.nickName}
                    </div>
                </div>
                <form class="p-4 p-md-3 border rounded-5 bg-light">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#changeNickName">
                        сменить никнейм
                    </button>
                </form>
            </div>
        </form>
<#--        <!--email&ndash;&gt;-->
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-6">
                <h1 class="display-8 fw-bold">email</h1>
                <div>
                    <div class="display-7 fw-bold">
                        ${user.email}
                    </div>
                </div>
                <form class="p-4 p-md-3 border rounded-5 bg-light">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeEmail">
                        сменить email
                    </button>
                </form>
            </div>
        </form>
<#--        <!--password&ndash;&gt;-->
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-6">
                <h1 class="display-8 fw-bold">пароль</h1>
                <form class="p-4 p-md-3 border rounded-5 bg-light">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#changePassword">
                        сменить пароль
                    </button>
                </form>
            </div>
        </form>
        </#list>
    </div>
    <form action="/changeUserData" method="post">
<#--first Name-->
        <div class="modal fade" id="changeFirstName" tabindex="-1" aria-labelledby="changeFirstNameModal"
             style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changeFirstNameModal">сменить имя</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newFirstName" name="newFirstName"
                               placeholder="введите новое имя" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="newDataButton" value="FirstName">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
<#--last name-->
        <div class="modal fade" id="changeLastName" tabindex="-1" aria-labelledby="changeLastNameModal"
             style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changeLastNameModal">сменить фамилию</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newLastName" name="newLastName"
                               placeholder="введите новую фамилию" value="">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="newDataButton" value="LastName">
                            OK
                        </button>
                    </div>

                </div>
            </div>
        </div>
<#--nickname-->
        <div class="modal fade" id="changeNickName" tabindex="-1" aria-labelledby="changeNickName"
             style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changeNickNameModal">сменить nickname</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newNickName" name="newNickName"
                               placeholder="введите новый ник" value="">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="newDataButton" value="NickName">
                            OK
                        </button>
                    </div>

                </div>
            </div>
        </div>
<#--email-->
        <div class="modal fade" id="changeEmail" tabindex="-1" aria-labelledby="changeEmailModal" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changeEmailModal">сменить email</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newEmail" name="newEmail"
                               placeholder="введите новый email" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="newDataButton" value="Email">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
<#--password-->
        <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordModal"
             style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="changePasswordModal">сменить пароль</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="oldPassword" name="oldPassword"
                               placeholder="введите старый пароль" value="">
                        <br>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newPassword" name="newPassword"
                               placeholder="введите новый пароль" value="">
                        <br>
                        <input type="text" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat"
                               placeholder="повторите новый пароль" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">закрыть</button>
                        <button class="w-50 btn btn-primary btn-lg" type="submit" name="newDataButton" value="Password">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>