<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание персонажа</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<form class="p-4 p-md-6 border rounded-3 bg-light" action="" method="post">
    <div class="container text-center">
        <#list loggedUser as user>
        <div class="row row-cols-6">
            <button class="w-10 btn btn-primary btn-lg" type="submit" name="deleteNewCharacter" value="${user.userRole}">Назад</button>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <button class="w-10 btn btn-primary btn-lg" type="submit" name="saveCharacter" value="${user.userRole}">Сохранить персонажа</button>
        </div>
        </#list>
    </div>
</form>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Создание  персонажа</h1>
    <#list characterList as gameCharacter>

    <div class="col-lg-6 mx-auto">
        <form class="p-4 p-md-3 border rounded-5 bg-light" >
            <div class="row row-cols-3">
                <br><br>
                <a class="w-10 btn btn-primary btn-lg" type="submit" href="/characterNPCCreation/raceSelection" >Выберите расу</a>
                <div>
                    <div class="display-6 fw-bold">
                        ${gameCharacter.race}
                    </div>
                </div>
            </div>
        </form>
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-3">
                <br><br>
                <a class="w-10 btn btn-primary btn-lg" type="submit" href="/characterNPCCreation/classSelection" >Выберите класс</a>
                <div>
                    <div class="display-6 fw-bold">
                        ${gameCharacter.className}
                    </div>
                </div>
            </div>
        </form>
        <form class="p-4 p-md-3 border rounded-5 bg-light">
            <div class="row row-cols-3">
                <br><br>
                <a class="w-10 btn btn-primary btn-lg" type="submit" href="/calculator" >Распределите очки характеристик</a>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#abilityScoresModal">
                        посмотреть характеристики
                    </button>
                </div>
            </div>
        </form>
        <form class="p-4 p-md-3 border rounded-5 bg-light" >
            <div class="row row-cols-3">
                <br><br>
                <a class="w-10 btn btn-primary btn-lg" type="submit" href="/characterNPCCreation/weaponSelection" >Выберите оружие</a>
                <div>
                    <div class="display-6 fw-bold">
                        ${gameCharacter.weapon}
                    </div>
                </div>
            </div>
        </form>
        <form class="p-4 p-md-3 border rounded-5 bg-light" >
            <div class="row row-cols-3">
                <br><br>
                <a class="w-10 btn btn-primary btn-lg" type="submit" href="/characterNPCCreation/armourSelection" >Выберите броню</a>
                <div>
                    <div class="display-6 fw-bold">
                        ${gameCharacter.armour}
                    </div>
                </div>
            </div>
        </form>
        <form class="p-4 p-md-3 border rounded-5 bg-light" method="post" >
            <div class="row row-cols-3">
                <div>
                    <input type="text" class="form-control" id="name" name="characterName" placeholder="Имя персонажа" required="">
                </div>
                <button class="w-10 btn btn-primary btn-lg" type="submit"  value="">Запомнить имя</button>
                <div>
                    <div class="display-6 fw-bold">
                        ${gameCharacter.name}
                    </div>
                </div>
            </div>
        </form>

        </#list>

        <div class="modal fade" id="abilityScoresModal" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
            <div>
                <#list calculator as calculatorAbilityScores>
            </div>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">Характеристики</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-3">
                            <h1 class="display-9 fw-bold">сила</h1>
                            <div class="display-6 fw-bold">
                                ${calculatorAbilityScores.strengthValue}
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2">
                            <h1 class="display-9 fw-bold">ловкость</h1>
                            <div class="display-6 fw-bold">
                                ${calculatorAbilityScores.dexterityValue}
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2">
                            <h1 class="display-9 fw-bold">выносливость</h1>
                            <div class="display-6 fw-bold">
                                ${calculatorAbilityScores.constitutionValue}
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2">
                            <h1 class="display-9 fw-bold">интеллект</h1>
                            <div class="display-6 fw-bold">
                                ${calculatorAbilityScores.intelligenceValue}
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2">
                            <h1 class="display-9 fw-bold">мудрость</h1>
                            <div class="display-6 fw-bold">
                                ${calculatorAbilityScores.wisdomValue}
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2">
                            <h1 class="display-9 fw-bold">харизма</h1>
                            <div class="display-6 fw-bold">
                                ${calculatorAbilityScores.charismaValue}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        </#list>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>